body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
}

header {
  background-color: #000000;
  color: #fff;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
img {
  width: 160px;
  height: 80px;
  justify-content: space-evenly;
}
nav ul {
  list-style: none;
  margin: 10px 50px;
  padding: 14px;
  display: flex;
}

nav ul li {
  margin: 10px 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.button-container {
  display: flex;
  gap: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.franchise {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

.franchise:hover {
  background-color: #fff;
  color: #000;
}

.order {
  background-color: #ff0000;
  color: #fff;
  border-color: #ff0000;
  display: flex;
  align-items: center;
  gap: 10px;
}

.order:hover {
  background-color: #e20707;
  color: #fffdfd;
}

.arrow {
  font-size: 20px;
}

.slider {
  width: 100%;
  height: 600px;
  overflow: hidden;
  border-radius: 10px;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 100%;
}

.navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #080808;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #222222;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: -70px;
}

.navigation-auto div {
  border: 2px solid #0c0c0c;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

@keyframes autoSlide {
  25% {
    border-color: #40d3dc;
  }
  50% {
    border-color: #f3f3f3;
  }
  75% {
    border-color: #40d3dc;
  }
  100% {
    border-color: #f3f3f3;
  }
}

.header {
  margin-bottom: 50px;
  margin-top: 50px;
  color: white;
  text-align: center;
}

.hed-text{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 900;
font-size:larger ;
}

.header .highlight {
  background-color: #0044cc;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.card-btn {
  display: flex;
  justify-content: center;
  gap: 130px;
  margin-bottom: 80px;
}
.card {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  width: 200px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.button {
  margin-top: 20px;
  padding: 18px 32px;
  font-size: 16px;
  border: 1px rgb(53, 47, 47) solid;
  border-radius: 50px;
  cursor: pointer;
  /* transition: background-color 0.3s ease, color 0.3s ease; */
  background-color: #000;
  color: #fff;
}

.franchise {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

.franchise:hover {
  background-color: #fff;
  color: #000;
}
